body {
    font-family: "Helvetica", Sans-Serif;
    background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
    background-size: cover;
  }